In [3]:
import os
import sys
from pyspark.sql import SparkSession
import pyspark.sql

spark = (SparkSession
        .builder
        .appName("BIG DATA PROJECT")
        .getOrCreate()
        )

23/05/29 15:24:10 WARN Utils: Your hostname, marius-Latitude-3410 resolves to a loopback address: 127.0.1.1; using 10.30.204.156 instead (on interface wlp0s20f3)
23/05/29 15:24:10 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/29 15:24:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/05/29 15:24:12 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [ ]:
#!pip install geojson geopandas plotly

In [ ]:
#!pip install ipyleaflet

## New York taxis trips

In [4]:
# read the parquet file
import geopandas as gpd
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.express as px


df_yel= spark.read.parquet("/home/marius/Téléchargements/yellow_tripdata_2019-03.parquet")
df_fhv= spark.read.parquet("/home/marius/Téléchargements/fhv_tripdata_2019-03.parquet")

df_zones = gpd.read_file("/home/marius/Téléchargements/taxi_zones/taxi_zones.shp")


df_yel.columns
#df_fhv.columns
#df_yel.show()
#df_fhv.show()

df_zones

,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough,geometry
0,1,0.116357,0.000782,Newark Airport,1,EWR,"POLYGON ((933100.918 192536.086, 933091.011 19..."
1,2,0.433470,0.004866,Jamaica Bay,2,Queens,"MULTIPOLYGON (((1033269.244 172126.008, 103343..."
2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx,"POLYGON ((1026308.770 256767.698, 1026495.593 ..."
3,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.467 203714.076, 992068.667 20..."
4,5,0.092146,0.000498,Arden Heights,5,Staten Island,"POLYGON ((935843.310 144283.336, 936046.565 14..."
...,...,...,...,...,...,...,...
258,259,0.126750,0.000395,Woodlawn/Wakefield,259,Bronx,"POLYGON ((1025414.782 270986.139, 1025138.624 ..."
259,260,0.133514,0.000422,Woodside,260,Queens,"POLYGON ((1011466.966 216463.005, 1011545.889 ..."
260,261,0.027120,0.000034,World Trade Center,261,Manhattan,"POLYGON ((980555.204 196138.486, 980570.792 19..."
261,262,0.049064,0.000122,Yorkville East,262,Manhattan,"MULTIPOLYGON (((999804.795 224498.527, 999824...."
262,263,0.037017,0.000066,Yorkville West,263,Manhattan,"POLYGON ((997493.323 220912.386, 997355.264 22..."

## Using data as parquet files

1. What is the number of partitions of the dataframe?

In [ ]:
# for yellow taxis
num_partitions_yel = df_yel.rdd.getNumPartitions()
num_partitions_yel

In [ ]:
# for fhv taxis
num_partitions_fhv = df_fhv.rdd.getNumPartitions()
num_partitions_fhv

In [ ]:
# Dropping na values 
df_yel.na.drop()
df_fhv.na.drop()

In [ ]:
# for yellow taxis
df_yel.show()

In [ ]:
# for fhv taxis
df_fhv.show()

## Investigate (at least) one month of data in 2019

1. Using these boundaries, filter the 2019 data (using pickup and dropoff longitude and
latitude) and count the number of trips for each value of passenger_count and make a
plot of that.

In [ ]:
from pyspark.sql.functions import *
  
# Return Centroid as crs code of 3310 for calcuating distance in meters.
     
df_zones["centroid"] = df_zones.geometry.centroid.to_crs(epsg=3310)
    
# Convert cordinates to the WSG84 lat/long CRS has a EPSG code of 4326.
df_zones["latitude"] = df_zones.centroid.to_crs(epsg=4326).y
df_zones["longitude"] = df_zones.centroid.to_crs(epsg=4326).x
df_zones =df_zones[['LocationID','latitude','longitude','zone','borough']]

#convert dataframe zones to spark dataframe 
df_zones=spark.createDataFrame(df_zones)


df_zones.show()

In [ ]:
# rename columns
def renameColumns(df, old_columns, new_columns):
    
    for old_col, new_col in zip(old_columns,new_columns):
        df = df.withColumnRenamed(old_col,new_col)
    return df

def renameFullColumns(df):
    old_columns = ['LocationID','latitude','longitude','zone','borough']
    new_columns_pickup = ['DOLocationID', 'pickup_latitude','pickup_longitude',
                          'zones_pickup_location','borough_pickup_location']
    new_columns_dropoff = ['PULocationID', 'dropoff_latitude','dropoff_longitude',
                           'zones_dropoff_location','borough_dropoff_location']
    zones_pickup = renameColumns(df, old_columns, new_columns_pickup)
    zones_dropoff = renameColumns(df, old_columns, new_columns_dropoff)
    return zones_pickup, zones_dropoff

# Join trips data with df_zones in order to have longitudes and latitudes
def joinDataframes(df,zones_pickup, zones_dropoff):
    df=df.join(zones_pickup,['DOLocationID'])
    df=df.join(zones_dropoff,['PULocationID'])
    return df
df_zones.show

zones_pickup , zones_dropoff = renameFullColumns(df_zones)

In [ ]:
# for yellow taxis
full_data_yel = joinDataframes(df_yel, zones_pickup, zones_dropoff)
full_data.show()

In [ ]:
# for fhv taxis
full_data_fhv = joinDataframes(df_fhv, zones_pickup, zones_dropoff)
full_data_fhv.show()

In [ ]:

def filterData(df):
    return df[(df['pickup_latitude'] >= 40.58) & 
                  (df['pickup_latitude'] <= 40.90) & 
                  (df['dropoff_latitude'] >= 40.58) & 
                  (df['dropoff_latitude'] <= 40.90) & 
                  (df['pickup_longitude'] >= -74.10) & 
                  (df['pickup_longitude'] <= -73.70) & 
                  (df['dropoff_longitude'] >= -74.10) & 
                  (df['dropoff_longitude'] <= -73.70)]

In [ ]:
# for yellow taxis
df_yel_filtered = filterData(full_data_yel)
df_yel_filtered.show()

In [ ]:
# for fhv taxis
df_fhv_filtered = filterData(full_data_fhv)
df_fhv_filtered.show()

count the number of trips for each value of passenger_count

In [ ]:
#  Count the number of trips for each value of passenger_count
# for yellow taxis
df_passenger=df_yel_filtered.groupby('passenger_count').count()

Plot the trip counts

In [ ]:
# Create a bar plot
import seaborn as sns
import matplotlib.pyplot as plt

# Plot the trip counts
df_passenger_pd = df_passenger.toPandas() #transform to pandas dataframe for plot
plt.bar(df_passenger_pd["passenger_count"], df_passenger_pd["count"])
plt.xlabel("Passenger Count")
plt.ylabel("Number of Trips")
plt.title("Number of Trips by Passenger Count")
plt.show()

1. What’s special with trips with zero passengers?

In [ ]:
# Filter the data for trips with zero passengers
zero_passenger_data = df_yel_filtered.filter(col("passenger_count") == 0)

2. What’s special with trips with more than 6 passengers?

In [ ]:
more_passenger_data = df_yel_filtered.filter(col("passenger_count") > 6)

3. What is the largest distance travelled during this month? Is it the first taxi on the moon?

In [ ]:
max_distance = df_yel_filtered.selectExpr("MAX(trip_distance) AS max_distance").collect()[0]["max_distance"]
print("The largest distance travelled during this month is: " ,max_distance, "milles")

4. Plot the distribution of the trip_distance (using an histogram for instance) during year 2019. Focus on trips with non-zero trip distance and trip distance less than 30 miles.

In [ ]:
# Filter the data for non-zero trip distances less than 30 miles
yel_filtered_data = df_yel_filtered.filter((col("trip_distance") > 0) & (col("trip_distance") < 30))

# Convert the filtered data to a Pandas DataFrame for plotting
yel_filtered_data = yel_filtered_data.select("trip_distance").toPandas()

# Plot the distribution of trip distances
plt.hist(yel_filtered_data["trip_distance"], bins=30, edgecolor="black")
plt.xlabel("Trip Distance (miles)")
plt.ylabel("Frequency")
plt.title("Distribution of Trip Distances (2019)")
plt.show()

1. Use the explain method or have a look at the Spark UI to analyze the job.

In [ ]:
df_yel_filtered.explain(True)

2. Compare the Analyzed Logical Plan and Optimized Logical Plan: 
Analyzed Logical Plan: This plan represents the logical operations after the analysis phase, where Spark resolves references, applies type checking, and performs other logical optimizations. Optimized Logical Plan: This plan represents the logical operations after further optimization, such as predicate pushdown, column pruning, or constant folding.

3. Compare the Physical Plan with the Optimized Logical Plan: Physical Plan: This plan describes the actual execution strategy that Spark will use to process the query. It includes details about how the data will be read, transformed, and distributed across the worker nodes. 3-2. Keywords and concepts in the Physical Plan that you would not expect in an RDBMS include: Shuffle: This keyword indicates data shuffling, which involves redistributing data across partitions or nodes, often required for operations like joins or aggregations. Exchange: This keyword represents the exchange of data between partitions or nodes. Sort: This keyword indicates sorting operations performed during the query execution. Broadcast: This keyword represents the broadcasting of small data to all worker nodes, typically used in join operations. Code generation: This indicates that Spark generates code dynamically for specific operations to improve performance. In an RDBMS, the physical plan might involve index scans, table scans, join algorithms, and disk-based operations. The specific keywords and concepts may vary depending on the RDBMS implementation.

4. Tasks in Spark refer to the individual units of work performed on the data. Each task processes a subset of the data and is executed on a single partition of a stage. The number of tasks within each stage may vary depending on the size of the data and the available resources. You can find the number of tasks for each stage in the Spark UI under the "Stages" tab.

1. Break down the trip distance distribution for each day of week

In [ ]:
# Extract the day of the week from the pickup datetime
df_with_day_of_week = df_yel_filtered.withColumn('pickup_day_of_week', dayofweek('tpep_pickup_datetime'))

# Group by day of the week and calculate the distribution of trip distances
distance_breakdown = df_with_day_of_week.groupBy('pickup_day_of_week').agg(mean('trip_distance').alias('avg_distance'))

# Convert the result to a Pandas DataFrame for plotting
distance_breakdown_pd = distance_breakdown.toPandas()

# Plot the breakdown of trip distance
plt.figure(figsize=(8, 6))
sns.barplot(x='pickup_day_of_week', y='avg_distance', data=distance_breakdown_pd)
plt.xlabel('Day of Week')
plt.ylabel('Average Trip Distance')
plt.title('Breakdown of Trip Distance by Day of Week')
plt.show()

2. Count the number of distinct pickup location

In [ ]:
distinct_pickup_locations = df_yel_filtered.select('PUlocationID').distinct().count()
print("Number of distinct pickup locations:", distinct_pickup_locations)

3. Compute and display tips and profits as a function of the pickup location

In [ ]:
tips_profits_by_location = df_yel_filtered.groupBy('PUlocationID').agg(sum('tip_amount').alias('total_tips'),
                                                          sum('extra').alias('total_profits'))

# Display the results
tips_profits_by_location.show()

## Investigate one month of trips data in 2019, 2020, 2021, 2022

## For year 2020

In [7]:
# Read the data
df_yel_2020 = spark.read.parquet("/home/marius/Téléchargements/yellow_tripdata_2020-08.parquet")
df_fhv_2020 = spark.read.parquet("/home/marius/Téléchargements/fhv_tripdata_2020-08.parquet")

1. What is the number of partitions of the dataframe?

In [6]:
# for yellow taxis
num_partitions_yel_2020 = df_yel_2020.rdd.getNumPartitions()
num_partitions_yel_2020

4

In [8]:
# for fhv taxis
num_partitions_fhv_2020 = df_fhv_2020.rdd.getNumPartitions()
num_partitions_fhv_2020

3

In [9]:
# Dropping na values 
df_yel_2020.na.drop()
df_fhv_2020.na.drop()

DataFrame[dispatching_base_num: string, pickup_datetime: timestamp_ntz, dropOff_datetime: timestamp_ntz, PUlocationID: double, DOlocationID: double, SR_Flag: int, Affiliated_base_number: string]

In [11]:
# for yellow taxis
df_yel_2020.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2020-08-01 00:02:53|  2020-08-01 00:28:54|            1.0|         13.2|       1.0|                 N|         237|          16|           2|       36.5|  3.0|    0.5|       0.0|         0.0|                  0.3|        40.3|                 2.5|       null|
|       2| 2020-08-01 00:08:11|  2020-08-01 00:16:28|            1.0|         2.83|       1.0|                 N|         146|         137|           1|       10.5|  0.5|    0.5|       1.5|         0.0|                  0.3|        15.8|                 2.5|       null|
|       2| 2020-08-01 00:22:14|  2020-08-01 00:22:20|            1.0|          0.0|       1.0|                 N|         264|         264|           2|        2.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         3.8|                 0.0|       null|
|       2| 2020-08-01 00:31:35|  2020-08-01 00:36:54|            1.0|         2.34|       1.0|                 N|          79|         141|           1|        8.0|  0.5|    0.5|      2.36|         0.0|                  0.3|       14.16|                 2.5|       null|
|       2| 2020-08-01 00:39:18|  2020-08-01 00:42:09|            1.0|         1.32|       1.0|                 N|         141|         263|           1|        5.5|  0.5|    0.5|      1.86|         0.0|                  0.3|       11.16|                 2.5|       null|
|       2| 2020-08-01 00:22:49|  2020-08-01 00:31:00|            1.0|         0.88|       1.0|                 N|          41|          74|           2|        7.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.3|                 0.0|       null|
|       1| 2020-08-01 00:53:44|  2020-08-01 01:01:50|            0.0|          3.0|       1.0|                 N|         170|         232|           2|       11.5|  3.0|    0.5|       0.0|         0.0|                  0.3|        15.3|                 2.5|       null|
|       2| 2020-08-01 00:02:37|  2020-08-01 00:19:45|            1.0|          4.0|       1.0|                 N|         229|         231|           1|       15.0|  0.5|    0.5|      3.76|         0.0|                  0.3|       22.56|                 2.5|       null|
|       2| 2020-08-01 00:37:12|  2020-08-01 01:11:50|            2.0|        13.44|       1.0|                 N|         249|          89|           1|       41.5|  0.5|    0.5|      9.06|         0.0|                  0.3|       54.36|                 2.5|       null|
|       2| 2020-08-01 00:08:04|  2020-08-01 00:20:40|            3.0|         3.63|       1.0|                 N|         141|         226|           1|       13.0|  0.5|    0.5|       2.0|         0.0|                  0.3|        18.8|                 2.5|       null|
|       2| 2020-08-01 00:02:15|  2020-08-01 00:25:12|            1.0|        10.22|       1.0|                 N|         138|         239|           1|       30.5|  0.5|    0.5|      8.08|        6.12|                  0.3|        48.5|                 2.5|       null|
|       2| 2020-08-01 00:30:32|  2020-08-01 00:38:51|            1.0|         3.34|       1.0|                 N|         239|         233|           1|       11.5|  0.5|    0.5|       2.0|         0.0|                  0.3|        17.3|                 2.5|       null|
|       1| 2020-08-01 00:06:30|  2020-08-01 00:16:35|            1.0|          2.1|       1.0|                 N|         186|          79|           1|        9.5|  3.0|    0.5|      3.95|         0.0|                  0.3|       17.25|                 2.5|       null|
|       1| 2020-08-01 00:35:36|  2020-08-01 00:56:16|            1.0|         11.9|       1.0|                 N|          79|          78|           1|       33.0|  3.0|    0.5|       0.0|         0.0|                  0.3|        36.8|                 2.5|       null|
|       2| 2020-08-01 00:00:08|  2020-08-01 00:07:20|            2.0|         2.86|       1.0|                 N|         140|         224|           1|       10.0|  0.5|    0.5|      4.14|         0.0|                  0.3|       17.94|                 2.5|       null|
|       2| 2020-08-01 00:15:03|  2020-08-01 00:27:06|            2.0|         2.73|       1.0|                 N|           4|         256|           2|       11.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        15.3|                 2.5|       null|
|       2| 2020-08-01 00:30:58|  2020-08-01 00:55:16|            2.0|         7.64|       1.0|                 N|         256|         236|           1|       25.0|  0.5|    0.5|       7.2|         0.0|                  0.3|        36.0|                 2.5|       null|
|       2| 2020-08-01 00:43:19|  2020-08-01 00:49:35|            5.0|         0.75|       1.0|                 N|         116|         152|           2|        6.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         7.3|                 0.0|       null|
|       2| 2020-08-01 00:50:32|  2020-08-01 00:58:14|            2.0|         2.91|       1.0|                 N|         152|         244|           1|       10.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.8|                 0.0|       null|
|       2| 2020-08-01 01:00:22|  2020-08-01 01:11:55|            5.0|         5.45|       1.0|                 N|         244|         151|           1|       17.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        20.8|                 2.5|       null|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [12]:
# for fhv taxis
df_fhv_2020.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2020-08-01 00:55:00|2020-08-01 01:06:00|       264.0|       264.0|   null|                B00009|
|              B00021|2020-08-01 00:35:49|2020-08-01 00:40:57|        56.0|        56.0|   null|       B00021         |
|              B00021|2020-08-01 00:06:56|2020-08-01 00:19:48|        56.0|        56.0|   null|       B00021         |
|              B00021|2020-08-01 00:28:52|2020-08-01 00:33:57|        82.0|        82.0|   null|       B00021         |
|              B00021|2020-08-01 00:57:53|2020-08-01 01:08:33|        70.0|        70.0|   null|       B00021         |
|              B00021|2020-08-01 00:20:12|2020-08-01 00:28:51|       129.0|       129.0|   null|       B00021         |
|              B00037|2020-08-01 00:27:21|2020-08-01 00:39:10|       264.0|       188.0|   null|                B00037|
|              B00037|2020-08-01 00:44:15|2020-08-01 00:49:41|       264.0|        71.0|   null|                B00037|
|              B00037|2020-08-01 00:11:05|2020-08-01 00:26:11|       264.0|        71.0|   null|                B00037|
|              B00037|2020-08-01 00:38:58|2020-08-01 00:53:09|       264.0|       133.0|   null|                B00037|
|              B00037|2020-08-01 00:11:46|2020-08-01 00:17:36|       264.0|        76.0|   null|                B00037|
|              B00037|2020-08-01 00:26:01|2020-08-01 00:35:10|       264.0|        61.0|   null|                B00037|
|              B00037|2020-08-01 00:45:45|2020-08-01 00:56:31|       264.0|        76.0|   null|                B00037|
|              B00037|2020-08-01 00:48:59|2020-08-01 01:00:07|       264.0|        89.0|   null|                B00037|
|              B00037|2020-08-01 00:02:34|2020-08-01 00:16:05|       264.0|        91.0|   null|                B00037|
|              B00112|2020-08-01 00:27:10|2020-08-01 01:01:33|       264.0|       185.0|   null|                B00112|
|              B00112|2020-08-01 00:13:29|2020-08-01 00:45:41|       264.0|        35.0|   null|                B00112|
|              B00149|2020-08-01 00:27:29|2020-08-01 00:54:56|       264.0|       198.0|   null|                B00149|
|              B00149|2020-08-01 00:13:06|2020-08-01 00:26:39|       264.0|        76.0|   null|                B00149|
|              B00149|2020-08-01 00:33:53|2020-08-01 00:55:45|       264.0|        61.0|   null|                B00149|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

## Assessing seasonalities and looking at time series

1. The number of pickups

In [ ]:
counts_pickup = df_yel_filtered.groupby(dayofweek('tpep_pickup_datetime').alias('pickup_day'),
                             hour('tpep_pickup_datetime').alias('pickup_hour')).count()
#display the result
#print("The number of pickups is: ", counts_pickup.count())

2. The average fare

In [ ]:
avg_fare = df_yel_filtered.groupby(dayofweek('tpep_pickup_datetime').alias('pickup_day'),
                        hour('tpep_pickup_datetime').alias('pickup_hour')).avg('fare_amount')
#display the result
#print("The average fare is: " ,avg_fare)
avg_fare=avg_fare.toPandas()
avg_fare=avg_fare.sort_values(by=['pickup_hour'])
avg_fare

3. The average trip duration

In [ ]:
avg_trip_duration = df_yel_filtered.groupby(dayofweek('tpep_pickup_datetime').alias('pickup_day'), 
                            hour('tpep_pickup_datetime').alias('pickup_hour')).avg('trip_distance')
#display the result

4. Plot the average of ongoing trips

In [ ]:
# convert into pandas dataframe
df_yel_filtered = df_yel_filtered.toPandas()

# Convert the 'tpep_dropoff_datetime' and 'tpep_pickup_datetime' columns to datetime format
df_yel_filtered['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
df_yel_filtered['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])

# Calculate the duration of each trip by subtracting the pickup datetime 
# from the dropoff datetime to get the trip duration in seconds.

df_yel_filtered['trip_duration'] = (df_yel_filtered['tpep_dropoff_datetime'] - 
                                    df_yel_filtered['tpep_pickup_datetime']).dt.total_seconds()

# Group the data by the desired time interval and calculate the average trip duration for each interval.

average_trip_duration = df_yel_filtered.groupby(df_yel_filtered['tpep_pickup_datetime'].dt.hour)['trip_duration'].mean()

# the plot
plt.figure(figsize=(10, 6)) 
plt.bar(average_trip_duration.index, average_trip_duration.values)
plt.xlabel('Hour')
plt.ylabel('Average Trip Duration (seconds)')
plt.title('Average Trip Duration by Hour')
plt.xticks(average_trip_duration.index)
plt.grid(True) 
plt.show()

## Rides to the airports

1. Median duration of taxi trip leaving Midtown (Southern Manhattan) headed for JFK Airport

In [ ]:
midtown = {'longitude_min': -74.01, 'longitude_max': -73.96, 'latitude_min': 40.73, 'latitude_max': 40.78}
jfk = {'longitude_min': -73.85, 'longitude_max': -73.74, 'latitude_min': 40.62, 'latitude_max': 40.66}
newark = {'longitude_min': -74.20, 'longitude_max': -74.14, 'latitude_min': 40.65, 'latitude_max': 40.73}
laguardia = {'longitude_min': -73.89, 'longitude_max': -73.85, 'latitude_min': 40.77, 'latitude_max': 40.80}
 

median_trip_duration = df_yel_filtered(col("pickup_longitude") >= )

## Geographic information

In [ ]:
# Load GeoJSON file
data_geojson = gpd.read_file("/home/marius/Téléchargements/map.geojson")         # Load the GeoJSON file as a GeoDataFrame

print(data_geojson)

In [ ]:
#Register DataFrame as a temporary view for Spark SQL operations
#df_yel_filtered.createOrReplaceTempView("trips")

# Build a heatmap of number of pickups, number of dropoffs, and number of pickups with dropoff at airports
heatmap_pickups = df_yel_filtered.groupBy("zones_pickup_location").count()
heatmap_dropoffs = df_yel_filtered.groupBy("zones_dropoff_location").count()
heatmap_airport_pickups = df_yel_filtered.filter(col("zones_dropoff_location").isin(['JFK', 
                                        'LaGuardia', 'Newark'])).groupBy("zones_pickup_location").count()

In [ ]:
# Build a choropleth map of number of pickups in the area, ratio of card payments to cash payments, and ratio of total fare to trip duration
choropleth_pickups = df_yel_filtered.groupBy("zones_pickup_location").count()
choropleth_payment_ratio = df_yel_filtered.groupBy("zones_pickup_location").agg(
    (sum(when(col("payment_type") == 1, 1).otherwise(0)) /
     sum(when(col("payment_type") == 2, 1).otherwise(0))).alias("payment_ratio")
)
choropleth_fare_duration_ratio = df_yel_filtered.groupBy("zones_dropoff_location").agg(
    (sum("total_amount") / sum("trip_distance")).alias("fare_duration_ratio")
)

## Covid impact